<form [formGroup]="searchForm" (ngSubmit)="onSearch()">
  <div class="row">
    <div class="col-6">
      <div class="my-5">
        <mdb-form-control>
          <input
            [mdbValidate]="true"
            mdbInput
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
          />
          <label mdbLabel class="form-label" for="name">Restaurant name</label>
          <span
            *ngIf="
              searchForm.get('name').invalid && searchForm.get('name').touched
            "
          >
            <mdb-error *ngIf="searchForm.get('name').hasError('maxlength')"
              >Name must have maximum 35 characters!</mdb-error
            >
          </span>
        </mdb-form-control>
      </div>
      <div class="my-5">
        <mdb-form-control>
          <input
            [mdbValidate]="true"
            mdbInput
            type="text"
            id="city"
            class="form-control"
            formControlName="city"
          />
          <label mdbLabel class="form-label" for="city">City</label>
          <span
            *ngIf="
              searchForm.get('city').invalid && searchForm.get('city').touched
            "
          >
            <mdb-error *ngIf="searchForm.get('city').hasError('maxlength')"
              >City must have maximum 35 characters!</mdb-error
            >
          </span>
        </mdb-form-control>
      </div>
      <div class="my-5">
        <mdb-form-control>
          <input
            [mdbValidate]="true"
            mdbInput
            type="text"
            id="category"
            class="form-control"
            formControlName="category"
          />
          <label mdbLabel class="form-label" for="category">Category</label>
          <span
            *ngIf="
              searchForm.get('category').invalid &&
              searchForm.get('category').touched
            "
          >
            <mdb-error *ngIf="searchForm.get('category').hasError('maxlength')"
              >Category must have maximum 50 characters!</mdb-error
            >
          </span>
        </mdb-form-control>
      </div>
    </div>
    <div class="col-6">
      <div class="mb-2 mt-3">
        <label mdbLabel class="form-label" for="sortBy">Sort by</label>
        <select class="form-select" id="sortBy" formControlName="sortBy">
          <option value="Name">Name</option>
          <option value="Category">Category</option>
          <option value="City">City</option>
        </select>
      </div>
      <div class="mb-5">
        <label mdbLabel class="form-label" for="sortDirection"
          >Sort direction</label
        >
        <select
          class="form-select"
          id="sortDirection"
          formControlName="sortDirection"
        >
          <option value="0">Ascending</option>
          <option value="1">Descending</option>
        </select>
      </div>
      <div class="form-check d-flex justify-content-center">
        <input
          mdbCheckbox
          class="form-check-input"
          type="checkbox"
          value=""
          id="delivery"
          formControlName="delivery"
        />
        <label class="form-check-label ms-2" for="delivery"> Delivery </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <button
        type="submit"
        class="btn btn-primary mb-4"
        [disabled]="!searchForm.valid"
      >
        Search
      </button>
      <button type="button" class="btn btn-warning mb-4">Reset</button>
    </div>
  </div>
</form>
