<div class="row">
  <div class="col-12 mb-4">
    <form>
      <div class="mb-4">
        <mdb-form-control>
          <input mdbInput type="text" id="name" class="form-control" />
          <label mdbLabel class="form-label" for="name">Restaurant name</label>
        </mdb-form-control>
      </div>
      <div class="mb-4">
        <mdb-form-control>
          <input mdbInput type="text" id="city" class="form-control" />
          <label mdbLabel class="form-label" for="city">City</label>
        </mdb-form-control>
      </div>
      <div class="mb-4">
        <mdb-form-control>
          <input mdbInput type="text" id="category" class="form-control" />
          <label mdbLabel class="form-label" for="category">Category</label>
        </mdb-form-control>
      </div>
      <div class="form-check mb-4 d-flex justify-content-center">
        <input
          mdbCheckbox
          class="form-check-input"
          type="checkbox"
          value=""
          id="delivery"
        />
        <label class="form-check-label ms-2" for="delivery"> Delivery </label>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-between">
          <button type="submit" class="btn btn-primary mb-4">Search</button>
          <button type="button" class="btn btn-warning mb-4">Reset</button>
        </div>
      </div>
    </form>
    
  </div>
</div>
