<div class="row">
  <div class="col-12 col-md-4 mb-3">
    <app-restaurant-details></app-restaurant-details>
    <a type="button" class="btn btn-info my-3" routerLink=""
      >Back to restaurants list</a
    >
    <button
      type="button"
      class="btn btn-danger my-3 ms-1"
      *ngIf="admin"
      (click)="onDeleteRestaurant()"
    >
      Delete restaurant
    </button>
  </div>
  <div class="col-12 col-md-6 offset-md-2 mb-3">
    <div class="row mb-3">
      <div class="col-12">
        <app-dishes-list></app-dishes-list>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
